#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff; /* Cor de fundo enquanto carrega */
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o spinner */
.spinner {
    border: 8px solid #f3f3f3; /* Cor de fundo do spinner */
    border-top: 8px solid rgb(255, 0, 200);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Esconde o conteúdo principal até que a página seja carregada */
#containerContent {
    display: none;
}