*{
    font-size: 100% !important;
    font-family: 'Courier New', Courier, monospace !important;
    line-height: 1 !important;
}

:root{
    --bg-color-gray: rgb(243,244,246);
    --bg-color-white: #fff;
    --bg-color-blue01: #d7ecf7;
    --bg-color-blue02: rgb(197, 222, 235);
  
    --bd-radius-top: 4px;
    --bd-radius-bottom: 4px;
    --bd-radius-left: 4px;
    --bd-radius-right: 4px;
    --bd-radiusAll: 4px;

    --bd-GrayAll: solid 0.5px #ccc;

}

.colorGrayInput{
    background-color: var(--bg-color-gray);
}

.colorwhiteInput{
    background-color: var(--bg-color-white);
}

body{
    display: flex;
    flex-direction: row;
}

/* div usuario */
#divUsuario{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#divUsuario > img{
    height: 40px;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 1px 3px #ccc;
}

#divUsuario > p{
    font-size: 0.8rem;
}

/* menu principal */
.showSubMenu{
    display: block;
}

.showDisplay{
    display: none;
}

#menuLateral{
    width: 270px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 3px 4px #ccc !important;
}

thead{
    height: 45px !important;
    font-size: 0.8rem !important;
}

#menu{
    font-size: 0.875rem !important;
    font-weight: 300 !important;
    padding-left: 0 !important;
}

ul > li{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    padding: 10px;
    border-bottom: solid 0.5px #ccc;
}

ul > li > p{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuItem:hover, .subMenuItem:hover{
    background-color: rgb(197, 222, 235);
}

/* submenu */
.subMenu{
    width: 100%;
    background-color: #d7ecf7;
    padding-left: 0 !important;
    opacity: 0;
    max-height: 0;
    transition: 1.5s ease-in-out;
}

.subMenu > li{
    padding-left: 40px;
}


/* content */
#containerContent{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    background-color: rgb(243,244,246);
}

.inputText, .select{
    height: 45px;
    border: none;
    border: var(--bd-GrayAll);
    border-radius: 4px;
    font-size: 1.1rem;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    
}

.chkBox, .radio{
    width: 35px;
    height: 18px;
}

.cursorPointer{
    cursor: pointer;
}

.groupSizeSmallInfo{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: #ccc 0.7px dashed;
    border-radius: 6px;
}

.groupSizeSmallInfoIcon{
    width: 40px;
    align-content: center;
    padding: 0 10px;
}

.groupSizeSmallInfoItem{
    display: flex;
    flex-direction: column;
}

.groupSizeSmallInfoItemTitle{
    font-size: 0.7rem !important;
    color: #4f4f4f;
}

.groupSizeSmallInfoText{
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
}

.groupSearch{
    display: flex;
    flex-direction: row;
    gap: 0 !important;
}

.groupSearchIcon{
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    border-left: solid 0.8px #ccc;
    border-top: solid 0.8px #ccc;
    border-bottom: solid 0.8px #ccc;
    border-radius: 6px 0 0 6px;
}

.groupSearchBTN{
    align-items: center;
    border-right: solid 0.8px #ccc;
    border-top: solid 0.8px #ccc;
    border-bottom: solid 0.8px #ccc;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    padding: 7px 2px;
}

.groupSearchBTN > input[type="button"]{
    font-size: 0.8rem !important;
    font-weight: 600 !important;
    background-color: transparent;
    border: none;
}

.groupSearchBTN:hover{
    background-color: #fff;
}

.groupSearchTxt{
    border: solid 0.8px #ccc;
}

.groupSearchTxt:hover{
    background-color: #fff;
}

.groupSearchTxt > input[type="text"]{
    background-color: transparent;
    border:none;
    height: 35px;
}

.IconAjuda{
    width: 20px;
    font-size: 1.1rem !important;
    margin-left: 3px;
}

.IconAjuda:hover{
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
}

.checkButtom, .radioButtom{
    display: flex;
    flex-direction: row;
    gap: 0 !important;
}

.pageGroupArrow{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 12px;
}

.btnArrowLeft, .btnArrowRight{
    width: 25px;
    border: solid 0.6px #ccc;
    border-radius: 50px;
    background-color: rgb(255,255,255);
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px #ccc;
}

.btnArrowLeft:hover, .btnArrowRight:hover{
    background-color: rgb(114, 153, 198);
    color: #fff;
}

.infoPageArrow{
    font-size: 0.75rem !important;
} 

.quadroAleatorio{
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    box-shadow: 2px 1px 2px #ccc;
    border-radius: 4px;
}

.quadroAleatorioNoTitle{
    box-shadow: 2px 1px 2px #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 0 !important;
    padding: 15px;
    border: solid 1px #ccc;
}

.quadroAleatorioTitle{
    height: 35px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: rgb(243,244,246);
    border: solid 1px #ccc;
    border-radius: 4px 4px 0 0;
    padding-left: 20px;
}

.quadroAleatorioTitle > p{
    margin-top: 15px;
}

.quadroAleatorioCorpo{
    padding-bottom: 0 !important;
    padding: 15px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.show{
    opacity: 1;
    max-height: 100%;
    transition: 1.5s ease-out;
}

.quadroObservacao{
    width: 100%;

}

.ObservaçõesTXT{
    border: none;
    border-radius: 4px;
    border: solid 1px #ccc;
    width: 100%;
}

.btnAqui {
    padding: 10px 30px;
    border: none;
    border-radius: var(--bd-radiusAll);
    background-color: var(--btnWarning);
}

.quadroInfoDados{

}

.quadroInfoDadosTitle{
    padding: 10px;
    background-color: #13B6CF;
    border-radius: 4px 4px 0 0;
}

.quadroInfoDadosText{
    padding: 10px;
    background-color: #77dbe6;
    border-radius:  0 0 4px 4px;
}
